<h2>STOP: c000021a {Fatal System Error}</h2>
<p>
    The Windows Logon Process system process terminated unexpectedly with
    a status of 0x00000001 (0x00000000 0x00000000).<br>
    The system has been shut down.
</p>